<h2 class="ui top attached block header">
  {{title}}
</h2>
<div class="ui bottom attached segment">
  {{category.description}}
</div>
<div class="ui divided link items">
  {{#each items}}
    <a class="item" href={{this.url}}>
      <div class="ui tiny image">
        <img src="https://fomantic-ui.com/images/wireframe/image.png" />
      </div>
      <div class="middle aligned content">
        <div class="header">
          {{this.name}}
        </div>
        <div class="description">
          {{this.description}}
        </div>
      </div>
    </a>
  {{/each}}
</div>