<h1>
  {{title}}
</h1>
<a class="ui large labeled icon button" href="/inventory/categories/create">
  <i class="add icon"></i>
  Add new category
</a>
<div class="ui divided link items">
  {{#each categories}}
    <a class="item" href={{this.url}}>
      <div class="ui small image">
        <img src={{this.imageUrl}} />
      </div>
      <div class="middle aligned content">
        <div class="header">
          {{this.name}}
        </div>
        <div class="description">
          {{this.description}}
        </div>
      </div>
    </a>
  {{/each}}
</div>