{{#if items}}
  <a class="ui labeled icon button" href={{category.url}}>
    <i class="left arrow icon"></i>
    {{category.name}}
  </a>
{{/if}}
<div class="ui top {{#unless items}}attached {{/unless}}negative message">
  <div class="header">
    {{#if items}}
      Cannot
    {{/if}}
    Delete
    {{category.name}}
  </div>
  <p>
    {{#if items}}
      You must delete the following items first:
      <div class="ui relaxed link list">
        {{#each items}}
          <a href={{this.url}} class="item">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">
                {{this.name}}
              </div>
              <div content="description">
                {{this.description}}
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    {{else}}
      Are you sure you want to delete this?
    {{/if}}
  </p>
</div>
{{#unless items}}
  <form method="POST" action="" class="ui two bottom attached buttons">
    <a href="{{category.url}}" class="ui secondary basic button">
      Cancel
    </a>
    <button type="submit" class="ui negative basic button">
      Delete
    </button>
  </form>
{{/unless}}