<a class="ui labeled icon button" href="/inventory/categories">
  <i class="left arrow icon"></i>
  All categories
</a>
<div class="ui hidden divider"></div>
<h2 class="ui top attached block header">
  {{title}}
</h2>
<div class="ui attached segment">
  {{category.description}}
</div>
<div class="ui two bottom attached buttons">
  <a href="{{category.url}}/update" class="ui primary basic button">
    Update Category
  </a>
  <a href="{{category.url}}/delete" class="ui negative basic button">
    Delete Category
  </a>
</div>
<div class="ui divided link items">
  {{#each items}}
    <a class="item" href={{this.url}}>
      <div class="ui tiny image">
        <img src="https://fomantic-ui.com/images/wireframe/image.png" />
      </div>
      <div class="middle aligned content">
        <div class="header">
          {{this.name}}
        </div>
        <div class="description">
          {{this.description}}
        </div>
      </div>
    </a>
  {{/each}}
</div>